<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login Page</title>
    <link rel="stylesheet" href="style.css">
</head>
<body>
    <div class="container">
        <div class="box1">
            <h1>DROP OUT ANALYSIS</h1>
            <div id="logoBox">
            
                <img src="https://png.pngtree.com/png-vector/20190304/ourlarge/pngtree-education-logo-vector-image-png-image_728262.jpg" alt=""  >

            </div>
            <div class="contact">
                <p>for any query contact here : 984XXXX4</p>
            </div>
        </div>
        <div class="box2">
            
            <form action="/login" method="post">
                <div class="head">
                    <h1 id="head1">LOGIN</h1>
                    
                    <select name="person" id="person" required>
                        <option value="" disabled selected>Select User Type</option>
                        <option value="teacher">Teacher</option>
                        <option value="student">Student</option>
                        <option value="admin">Admin</option>
                    </select>
                </div>
               
                    <input type="email" name="email" placeholder="Enter your Email" required>
                    <input type="password" name="password" placeholder="Enter your Password" required>
                    <!-- Other form elements -->
            
                                <div class="last">
                    <div class="left">
                        <div class="content">
                            <a href="/register">Register</a>
                            <a href="/forgotPassword">Forgot Password?</a>
                        </div>
                    </div>
                    <div class="right">
                        <button id="button">Login</button>
                    </div>
                </div>
            </form>
        </div>
    </div>
    <script>
        setTimeout(function() {
            location.reload();
        }, 100000); // Refresh every 5 minutes (300000 milliseconds)
    </script>
    
</body>
</html>